#wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
  background-color: #02203c;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border: 5px solid white;
  border-radius: 50%;
}

/* To see a pseudo element, one needs to add content to it */

#logo::before, #logo::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 30px;
  border: 5px solid white;
  border-radius: 50%;
}

#logo::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#logo::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 48px;
}