:root {
  --head-size: 150px;
  --head-margin: 50px;
  --head-main-color: #a4d9eb;
  --head-border-color: #9bbcc2;
  --head-border-size: 5px;
  --head-border-radius: 20px;

  --circle-radius: 50%;

  --light-size: 30px;
  --light-color: #ffa500;
  --light-overlap: 5px;

  --stick-width: 10px;
  --stick-height: 15px;
  --stick-color: #808080;

  --ear-width: 10px;
  --ear-height: 50px;
  --ear-color: #c90a0a;
  --ear-border-radius: 5px;

  --eye-size: 30px;
  --eye-gap: 20px;
  --eye-color: white;
  --eye-border-color: #00b3ff;
  --eye-border-size: 5px;
}

.head {
  width: var(--head-size);
  height: var(--head-size);
  margin: var(--head-margin);
  border: var(--head-border-size) solid var(--head-border-color);
  background-color: var(--head-main-color);
  border-radius: var(--head-border-radius);
  position: relative;
}

.light {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(-1 * (var(--light-size) + var(--stick-height) - var(--light-overlap) + var(--head-border-size)));
  left: 50%;
  transform: translateX(-50%);
}

.bulb {
  width: var(--light-size);
  height: var(--light-size);
  margin-bottom: calc(-1 * var(--light-overlap));
  border-radius: var(--circle-radius);
  background-color: var(--light-color);
  z-index: 1;
}

/* A "z-index" with a flex item creates a new stacking context */

.stick {
  width: var(--stick-width);
  height: var(--stick-height);
  background-color: var(--stick-color);
}

.ear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--ear-width);
  height: var(--ear-height);
  background-color: var(--ear-color);
}

.ear:first-of-type {
  /* 8:13 min */
}
