/* Write your code here. */

:root {
  --wrapper-width: 280px;
  --wrapper-padding: 10px;
  --wrapper-border-radius: 10px;

  --notifications-gap: 10px;
  --notifications-padding: 10px;
  --notifications-border-radius: 10px;

  --image-size: 100px;
  --image-border-size: 1px;

  --paragraph-gap: 10px;
  --paragraph-font-size: 12px;

  --button-font-size: 16px;
  --button-border-radius: 10px;
  --button-padding: 10px;
  --button-background-color: #02203c;

}

#wrapper {
  width: var(--wrapper-width);
  padding: var(--wrapper-padding);
  border-radius: var(--wrapper-border-radius);
  background-color: lightgrey;

}

h1 {
  text-align: center;
  margin: 0 0 var(--notifications-gap) 0;
  text-decoration: underline;
}



/* id are selected with "#" and classes are selected with "." */

#notifications {
  display: flex;
  flex-direction: column;
  gap: var(--notifications-gap);
}

/* There are multiple ways to set up the grid in css */

.notification {
  display: grid;
  grid-template-areas:
    "photo text"
    "photo time";
  gap: var(--paragraph-gap);
  padding: var(--notifications-padding);
  background-color: white;
  border-radius: var(--notifications-border-radius);
}

img {
  grid-area: photo;
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
  border: var(--image-border-size) solid black;
  
}

.time {
  grid-area: time;
  align-self: end;
  justify-self: end;
  margin: 0;
  font-size: var(--paragraph-font-size);
  font-style: italic;
}

p {
  grid-area: text;
  text-wrap: wrap;
  margin: 0;
}

.user {
  font-weight: bold;
}

button {
  width: 100%;
  margin-top: var(--notifications-gap);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  background-color: var(--button-background-color);
  color: white;
}
